@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
}

#background {
    position: absolute;
    min-height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
}

#Choice {
    align-self: center;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#close_button {
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 3px;
}

.filename {
    font-size: 18px;
}

.Window {
    overflow-y:auto;
}

.Leksems {
    transition: 2s;
}